version: 2.1
orbs:
  ft-golang-ci: financial-times/golang-ci@1
jobs:
  dredd:
    working_directory: /draft-content-suggestions
    docker:
      - image: golang:1
        environment:
          API_YML: /draft-content-suggestions/_ft/api.yml
          SUGGESTIONS_ENDPOINT: http://localhost:9000/content/suggest
          SUGGESTIONS_GTG_ENDPOINT: http://localhost:9000/content/suggest/__gtg
          DRAFT_CONTENT_ENDPOINT: http://localhost:9000/drafts/content
          DRAFT_CONTENT_GTG_ENDPOINT: http://localhost:9000/__gtg
          SUGGESTIONS_API_KEY: 12345
      - image: peteclarkft/ersatz:stable
    steps:
      - checkout
      - run:
          name: Go Build
          command: go build -mod=readonly -v
      - run:
          name: Download Dredd
          command: |
              curl -sL https://deb.nodesource.com/setup_12.x | bash -
              DEBIAN_FRONTEND=noninteractive apt-get install -y nodejs=12.\*
              npm install -g --unsafe-perm --loglevel warn --user 0 --no-progress dredd@8.0.0
              rm -rf /var/lib/apt/lists/*
      - run:
          name: Dredd API Testing
          command: dredd
workflows:
  test-and-build-docker:
    jobs:
      - ft-golang-ci/build-and-test:
          name: build-and-test-project
      - dredd
      - ft-golang-ci/docker-build:
          name: build-docker-image
          requires:
            - build-and-test-project
  snyk-scanning:
    jobs:
      - ft-golang-ci/scan:
          name: scan-dependencies
          context: cm-team-snyk
